doctype html
html(lang="en")
    head
        meta(charset="tuf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        link(rel="stylesheet", href="//fonts.googleapis.com/css?family=font1|font2|etc", type="text/css")
        link(rel="stylesheet", href="/pug_test/css/index.css", type="text/css")
        script(src="script.js")
        title Html Template Page

    body
        .container
            header
                nav.nav-container
                    a.links(href="#") Home
                    a.links(href="#") About
                    a.links(href="#") Products
                    a.links(href="#") Blog
                    a.links(href="#") Contact Us
            .divider        
            section.flex-section-1
                .content-left
                    img(src="", alt="")
                    h2 Left Content Heading
                    p.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ad veritatis expedita sequi unde maxime voluptate 
                        cum minus est quasi quisquam harum, doloremque blanditiis eum tempora deleniti aliquam cupiditate numquam.
                    button.btn-learn Learn More
                .content-right
                    img(src="", alt="")
                    h2 Right Content Heading
                    p.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ad veritatis expedita sequi unde maxime voluptate 
                        cum minus est quasi quisquam harum, doloremque blanditiis eum tempora deleniti aliquam cupiditate numquam.
                    button.btn-learn Learn More
            section.flex-section-2
                    .content-left
                        img(src="", alt="")
                        h2 Left Content Heading
                        p.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ad veritatis expedita sequi unde maxime voluptate 
                            cum minus est quasi quisquam harum, doloremque blanditiis eum tempora deleniti aliquam cupiditate numquam.
                        button.btn-learn Learn More
                    .content-right
                        img(src="", alt="")
                        h2 Right Content Heading
                        p.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ad veritatis expedita sequi unde maxime voluptate 
                            cum minus est quasi quisquam harum, doloremque blanditiis eum tempora deleniti aliquam cupiditate numquam.
                        button.btn-learn Learn More
            footer
                section.closing
                    h2 Closing Heading Statement
                    p.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa dolores aliquam nulla minima delectus, doloremque in a sunt nostrum incidunt,
                        quidem officia! Nihil illo voluptatum consectetur ipsum voluptatem totam ducimus!
                nav
                    a(href="#") Home
                    a(href="#") About
                    a(href="#") Contact Us
                    a(href="#") Blog
                    a(href="#") Products
                p.copyright &copy Copyright 2018
        

